<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="UdpTransportForWCF.SampleProfileUdpBindingCollectionElement, UdpTransportForWCF"/>
      </bindingExtensions>
    </extensions>
    <!--<serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="IMService.svc" service="IMServer.ServerService"/>
      </serviceActivations>
    </serviceHostingEnvironment>-->
    <bindings>
      <sampleProfileUdpBinding>
        <!--若只有一个配置则会默认应用到所有相关终结点。若多个会不会覆盖？-->
        <!--<binding name="UDPIM" />-->
        <binding name="OneWayUDPIM" sendPort="8216" reliableSessionEnabled="false" />
        <!--<binding name="MulticastIM" multicast="true" reliableSessionEnabled="false" />-->
      </sampleProfileUdpBinding>
      <netTcpBinding>
        <binding name="netTcpIMServer">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="IMServer.ServerService">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://60.191.40.5:8214/im"/>
          </baseAddresses>
        </host>-->
        <endpoint address="soap.udp://60.191.40.5:8216/Server" binding="sampleProfileUdpBinding" bindingConfiguration="OneWayUDPIM" contract="IWCFServiceForIM.IServerService"/>
        <!--<endpoint address="soap.udp://60.191.40.5:8216/Server" binding="sampleProfileUdpBinding" bindingConfiguration="OneWayUDPIM" contract="IWCFServiceForIM.IServerService"/>-->
        <!--<endpoint address="net.tcp://60.191.40.5:8213/Server" binding="netTcpBinding" contract="IWCFServiceForIM.IServerService" bindingConfiguration="netTcpIMServer" />-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
      <service name="IMServer.DuplexServerService">
        <endpoint address="net.tcp://60.191.40.5:8214/Server" binding="netTcpBinding" contract="IWCFServiceForIM.IDuplexServerService" 
                  bindingConfiguration="netTcpIMServer" />
      </service>
    </services> 
    <!--<client>      
      <endpoint address="soap.udp://225.214.214.214:8215/Client"
                binding="sampleProfileUdpBinding" bindingConfiguration="MulticastIM"
                contract="IWCFServiceForIM.IClientService" name="IMClientSVC" />
    </client>-->
    <client>
      <endpoint binding="sampleProfileUdpBinding" 
                bindingConfiguration="OneWayUDPIM"
                contract="IWCFServiceForIM.IClientService" name="IMClientSVC" />
    </client>

    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="udpServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
