<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UpdateOnline" type="UpdateOnline.UpdateOnlineSection,UpdateOnline.Extension"/>
  </configSections>
  <connectionStrings>
    <!--9rHg+5QWPjIaLzvPwZxvIQ==-->
    <!--6g20HzcSvvA=-->
    <!--update.diexuntech.com-->
    <add name="SysProcessConstr" connectionString="Server=update.diexuntech.com,5668;Database=SysProcess;user=dxer;pwd=1qazxsw2;" providerName="System.Data.SqlClient"/>
    <add name="DistributionConstr" connectionString="Server=update.diexuntech.com,5668;Database=Distribution;user=dxer;pwd=1qazxsw2;" providerName="System.Data.SqlClient"/>
    <add name="ManufacturingConnection" connectionString="Server=update.diexuntech.com,5668;Database=Manufacturing;user=74TPNALbjas=;pwd=UuG4Z3XWYMclYyQxBIN1fA==;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <UpdateOnline Version="2014Q3SP0523" CustomerKey="dx2014-02-12-test" SoftKey="398f33fd-5574-4ad5-be29-59321ff989be"/>
  <appSettings>
    <!--自营店对应的数据库里的ID-->
    <!--<add key="SelfRunShop" value="4" />-->
    <add key="StylePictureUploadUri" value="http://update.diexuntech.com:4272/StylePicture/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="OfficeWebSite" value="http://www.diexuntech.com"/>
    <add key="UdpIMServiceUri" value="soap.udp://localhost:8216/Server"/>
    <add key="TcpIMServiceUri" value="net.tcp://localhost:8214/Server"/>
    <add key="WebApiSite" value="http://update.diexuntech.com:8080/Api/"/>
    <add key="OrganizationMapUri" value="http://eras.chinacloudsites.cn/Map/set?ckey=jbre2013-11-10-30"/>
    <add key="PlatformSite" value="http://update.diexuntech.com:4774/"/>
  </appSettings>
  <system.serviceModel>
    <!--<extensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="UdpTransportForWCF.SampleProfileUdpBindingCollectionElement, UdpTransportForWCF"/>
      </bindingExtensions>
    </extensions>-->
    <bindings>
      <basicHttpBinding>
        <binding name="HttpStreaming" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="214748364" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <!--<sampleProfileUdpBinding>
        <binding name="DuplexUDPIM" sendPort="8218" />
        <binding name="OneWayUDPIM" sendPort="8218" reliableSessionEnabled="false" />
      </sampleProfileUdpBinding>-->
      <!--<netTcpBinding>
        <binding name="netTcpIMClient">
          <security mode="None" />
        </binding>
      </netTcpBinding>-->
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:4272/VersionService.svc"
        binding="basicHttpBinding" contract="IWCFServiceForAutoUpdate.IVersionService"
        name="VersionSVC" />-->
      <endpoint address="http://localhost:4272/UploadService.svc" binding="basicHttpBinding" bindingConfiguration="HttpStreaming" contract="IWCFService.IUploadService" name="UploadSVC"/>
      <endpoint address="net.tcp://localhost:808/StylePictureUploadService.svc" bindingConfiguration="netTcpBindingConfig" binding="netTcpBinding" contract="IWCFService.IStylePictureUploadService" name="StylePictureUploadSVC"/>
      <endpoint address="http://localhost:4272/BillService.svc" binding="basicHttpBinding" contract="IWCFService.IBillService" name="BillSVC"/>
      <!--<endpoint address="soap.udp://localhost:8215/Server"
                binding="sampleProfileUdpBinding" bindingConfiguration="OneWayUDPIM"
                contract="IWCFServiceForIM.IServerService" name="IMServerSVC"/>-->
      <!--<endpoint address="soap.udp://localhost:8216/Server"
                binding="sampleProfileUdpBinding" bindingConfiguration="OneWayUDPIM"
                contract="IWCFServiceForIM.IServerService" name="OneWayIMServerSVC"/>-->
      <!--<endpoint binding="sampleProfileUdpBinding" bindingConfiguration="OneWayUDPIM" 
                contract="IWCFServiceForIM.IClientService" name="IMClientSVC"/>-->
      <!--<endpoint binding="sampleProfileUdpBinding" bindingConfiguration="DuplexUDPIM"
                contract="IWCFServiceForIM.IDuplexClientService" name="IMDuplexClientSVC"/>-->      
      <endpoint binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" contract="IWCFServiceForIM.IDuplexServerService" name="TCPIMSVC"/>
      <!--<endpoint address="soap.udp://225.214.214.214:8215/Client" 
                binding="sampleProfileUdpBinding" bindingConfiguration="MulticastIM" 
                contract="IWCFServiceForIM.IServerService" name="UdpMulticastIMSVC" />-->
    </client>
    <!--<services>
      <service name="SysProcessViewModel.ClientService">
        <endpoint address="soap.udp://localhost:8218/Client" 
                  binding="sampleProfileUdpBinding" 
                  bindingConfiguration="OneWayUDPIM" 
                  contract="IWCFServiceForIM.IClientService" />
      </service>
      <service name="SysProcessViewModel.DuplexClientService">
        <endpoint address="soap.udp://localhost:8219/Client"
                  binding="sampleProfileUdpBinding"
                  bindingConfiguration="DuplexUDPIM"
                  contract="IWCFServiceForIM.IDuplexClientService" />
      </service>
    </services>-->
    <!--<services>
      <service name="SysProcessViewModel.ClientService">        
        <endpoint address="soap.udp://225.214.214.214:8215/Client" binding="sampleProfileUdpBinding" bindingConfiguration="MulticastIM" contract="IWCFServiceForIM.IClientService" />
      </service>
    </services>-->
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="D3625F8BF04286D7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2011.3.1609.40" newVersion="2011.3.1609.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>
