<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PlatformCentralizeConnection" connectionString="Server=9rHg+5QWPjIaLzvPwZxvIQ==;Database=PlatformCentralize;user=74TPNALbjas=;pwd=UuG4Z3XWYMclYyQxBIN1fA==;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="D3625F8BF04286D7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2012.2.1119.40" newVersion="2012.2.1119.40"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
